*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(24, 24, 24);
}
section{
    position: relative;
}
.logo{
    font-family: 'Dela Gothic One', cursive;
    font-size: small;
    border-bottom: 5px solid white;
}
header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
}
header .navigation a{
    color: rgb(255, 255, 255);
    background: none;
    text-decoration-line: underline 1px;
    text-underline-offset: 4px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-style: none;
    border-radius: 1px;
    display: inline-block;
    margin: 1em;
    font-family: 'Assistant', sans-serif;
}
.content{
    max-width: 650px;
    margin: auto;
    color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    padding-bottom: 65px;
    text-align: center;
}
.content p{
    font-family: 'Assistant', sans-serif;
    line-height: 25px;
}
.content .info h2{
    color: rgb(255, 255, 255);
    font-size: 55px;
    font-family: 'Dela Gothic One', cursive;
    text-transform: none;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-top: 30px;
    margin-bottom: 15px;
}
header .navigation :hover{
    background-color: none;
    color: lightslategray;
}
.content .info-btn{
    color: white;
    background: rgb(24, 24, 24);
    text-decoration: solid;
    text-transform: uppercase;
    font-weight: 2px;
    padding: 10px 20px;
    border-radius: 3px;
    border-style: solid;
    font-family: 'Assistant', sans-serif;
}
.content .info-btn:hover{
    color: black;
    background-color: white;
}
.content .info p{
    margin-bottom: 30px;
}
footer{
    background: rgb(65, 65, 65);
    padding-top: 40px;
    padding-bottom: 40px;
    height: auto;
    width: 100vw;
    color: white;
    padding-left: 40px;
    font-family: 'Assistant', sans-serif;
    font-size: 12px;
}
.footer-content{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.footer-links a{
    color: white;
    display: flex;
    padding-left: 40px;
    line-height: 25px;
}
.card{
    color: rgb(255, 255, 255);
    width: 20%;
    border-style: solid;
    border-radius: 5px;
    margin-left: 100px;
    margin-bottom: 5%;
    justify-content: space-evenly;
    display: inline-block;
}
.card h4{
    font-family: 'Assistant', sans-serif;
}
.card p{
    font-family: 'Assistant', sans-serif;
}
.card:hover{
    color: rgb(65, 241, 183);
}
.container{
    padding: 2px 16px;
    padding-bottom: 5px;
}
.card img:hover{
    opacity: 50%;
}